.cards {
  font-family: $font-family-2;
  margin: 40px 50px;
  @include flex-container;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 33px;

  .card-boxes {
    width: 425px;
    height: 377px;

    .card-images {
      position: relative;
      img {
        width: 425px;
        height: 319px;
      }
      .card-images-logo {
        width: 61px;
        height: 61px;
        background-color: $background-color;
        border: 1px solid $border-color;
        border-radius: 70px;
        @include flex-container;
        position: absolute;
        top: 20px;
        left: 20px;
        img {
          width: 29px;
          height: 29px;
        }
      }
    }

    .card-user-icons {
      width: 427px;
      height: 38px;
      margin-top: 20px;
      @include flex-container;
      justify-content: space-between;

      .card-user {
        img {
          width: 38px;
          height: 38px;
        }

        p {
          display: inline-block;
          margin-left: 14px;
          font-size: 14px;
        }
      }

      .card-icons {
        @include flex-container;
        gap: 20px;

        img {
          width: 26px;
          height: 26px;
        }

        p {
          display: inline-block;
        }
      }
    }
  }
}
