.responsive-menu {
  display: none;
  @include transition(2s);
}
.active {
  @include flex-container;
  @include transition(2s);
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: $background-color;

  ul {
    list-style-type: none;
    li {
      border-bottom: 2px solid $primary-color;
      a {
        color: $primary-color;
        font-size: 2rem;
      }
    }
  }

  .responsive-menu-buttons {
    button {
      border: none;
      background-color: $primary-color;
      padding: 15px;
      border-radius: 12px;
      border: 1px solid $border-color;
      color: $background-color;

      a {
        color: $background-color;
      }
    }
  }
}
