header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 100vw;
  background-color: $background-color;
  padding: 40px 50px;

  .header-logo {
    height: 40px;
    img {
      width: 40px;
      height: 39px;
      margin-right: 7px;
    }
    span {
      width: 93px;
      height: 14px;
    }
  }

  nav {
    width: 524px;
    height: 44px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 23px;
    }
    li {
      a {
        cursor: pointer;
      }
    }
    .free-design {
      background-color: #f1f1fd;
      width: 132px;
      height: 44px;
      border-radius: 32px;
      padding: 10px;
      font-weight: 600;
    }
  }
  .header-buttons {
    height: 54px;
    width: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 120px;
      height: 54px;
    }
    .log-in {
      border: none;
      background: transparent;
      text-align: start;
      font-weight: bold;
    }
    .sign-up {
      padding: 15px 20px;
      background-color: $primary-color;
      border-radius: 10px;
      color: #fff;
    }
  }
}
