header {
  @include flex-container;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 120px;
  max-width: 100vw;
  background-color: $background-color;
  padding: 40px 50px;

  img {
    width: 140px;
    height: 39px;
    margin-right: 7px;
  }

  nav {
    width: 524px;
    height: 44px;

    ul {
      list-style-type: none;
      @include flex-container;
      gap: 23px;
    }
    li {
      opacity: 0.7;
      // padding: 10px 15px;
      a {
        cursor: pointer;
      }
    }
    .free-design {
      background-color: #f1f1fd;
      width: 132px;
      height: 44px;
      border-radius: 32px;
      padding: 10px;
      font-weight: 600;
      opacity: 1;
    }
  }
  .header-buttons {
    height: 54px;
    width: 198px;
    @include flex-container;
    button {
      width: 120px;
      height: 54px;
    }
    .log-in {
      border: none;
      background: transparent;
      text-align: start;
      font-weight: bold;
    }
    .sign-up {
      padding: 15px 20px;
      background-color: $primary-color;
      border-radius: 10px;
      a {
        color: #fff;
      }
    }
  }
  .responsive-button {
    display: none;
    transform: scale(2);
    cursor: pointer;
  }
}
