main {
  @include flex-container;
  flex-direction: column;
  height: 427px;
  background-color: $background-color;
  border-top: 1px solid $border-color;
  text-align: center;
  position: relative; // for .day

  .letter-box {
    .main-title {
      font-size: 22px;
      font-weight: 700;
    }

    .main-description {
      font-size: 18px;
      font-weight: 400;
      max-width: 581px;
      height: 54px;
    }
  }

  .search-box {
    @include flex-container;

    background-color: #ffff;
    border: 1px solid $border-color;
    box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);
    border-radius: 10px;
    margin: 38px auto;
    width: 652px;
    height: 74px;
    position: relative;

    .dropdown {
      border-right: 1px solid $border-color;
      width: 170px;
      height: 54px;
      position: absolute;
      left: 0px;

      .dropdown-big {
        @include flex-container;
        gap: 20px;

        p {
          font-family: $font-family-2;
          font-weight: 600;
          margin: 12px 10px 15px 15px;
        }

        button {
          border: none;
          background-color: transparent;
          &:focus {
            outline: none;
          }
        }
      }

      .dropdown-box {
        display: none;
      }
    }
  }

  form {
    padding-left: 48px;
    margin-left: 50px;
    position: relative;
    // border-left: 1px solid $border-color;
    // border: 1px solid red;

    button {
      border: none;
      background-color: transparent;
      font-family: $font-family-2;
      font-weight: 600;
      opacity: 0.5;
      position: absolute;
      left: 15px;
      top: 15px;

      &:focus {
        outline: none;
      }

      i {
        // width: 27px;
        transform: scale(1.2);
      }
    }

    input {
      padding: 17px 60px 10px 0px;
      border: none;
      font-size: 18px;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }
  }
  .day {
    color: $day-color;
    font-weight: 600;
    position: absolute;
    top: 38px;
    left: 67px;
    width: 106px;
    height: 40px;
  }
}
