@media screen and (max-width: 1163px) {
  .nav-bootstrap {
    @include flex-container;
  }
}

@include media-lg {
  header {
    nav {
      display: none;
    }
    .header-buttons {
      display: none;
    }
    .responsive-button {
      display: inline-block;
    }
  }

  .cards {
    justify-content: center;
  }
}

@include media-md {
  main {
    .search-box {
      width: 400px;

      .dropdown {
        display: none;
      }
      form {
        @include flex-container;
      }
    }
  }
}

@media screen and (max-width: 714px) {
  .nav-bootstrap {
    margin: 10px;

    .nav-navbar {
      ul {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 489px) {
  .nav-bootstrap {
    position: relative;
    .nav-buttons {
      margin: 20px;
    }
    .nav-navbar {
      ul {
        position: absolute;
        right: 15px;
        bottom: 150px;
        flex-direction: row;
      }
    }
  }

  main {
    .search-box {
      width: 360px;
    }
  }

  .cards {
    .card-boxes {
      width: 350px;
      height: 300px;

      .card-images {
        img {
          width: 350px;
          height: 250px;
        }
      }

      .card-user-icons {
        width: 350px;
        height: 20px;
      }
    }
  }

  main {
    .letter-box {
      .main-description {
        padding: 10px;
      }
    }
  }
}
