// colors
$primary-color: #202142;
$background-color: #fcfcff;
$day-color: #ff6a95;
$border-color: #efefff;
$active-border-color: #ff6a95;

// font-family
$font-family-1: "Poppins", sans-serif;
$font-family-2: "Mulish", sans-serif;
